
.heading-1 {
    font-family: var(--brand-font-primary);
    margin: 64px 0;
}

#board {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--brand-teal);
}
.card {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
}
.card {
  overflow: hidden;
}
.profile {
  position: absolute;
  width: 320px;
  height: 320px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.title, .subtitle {
    font-family: var(--brand-font-secondary);
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    line-height: 140%;
}
.title {
  width: 100%;
  font-size: 28px;
  font-family: var(--brand-font-secondary-sb);
}
.subtitle {
    bottom: -105px;
    font-size: 24px;
}