@font-face {
  font-family: "Recoleta Medium";
  src: url("./fonts/Recoleta-Medium.woff") format("woff"),;
}

:root {
  --brand-teal: #e1f9f9;
  --brand-text: #273447;
  --white: #ffffff;
  --brand-font-primary: 'Recoleta Medium','Times New Roman',sans-serif;
}


